!!! 5
html
  head
    title TodoExpress
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/modern.css')
    link(rel='stylesheet', href='/css/modern-responsive.css')
    script(type='text/javascript', src='/js/assets/jquery-1.9.0.min.js')
    script(type='text/javascript', src='/js/assets/jquery.mousewheel.min.js')
    script(type='text/javascript', src='/js/modern/input-control.js')
  body(class='metrouicss')

    .page.secondary
      .page-header
        .page-header-content
          h1 TodoExpress
            small Todo-list on node

          .offset12
            button#github.image-button.bg-color-green.fg-color-white
              |View on Github
              i.bg-color-greenDark.icon-github-4

    .page.secondary
      .page-region
        .page-region-content
          form#form1(action='/item', method='post')
            .grid
              .row
                .input-control.text.span7
                  input(type='text', name='what')
                  button.btn-clear()
                .input-control.text.span3
                  input(type='submit', value='Add', style='margin-left: 10px;')
          .grid
            for i in list
              .row(style='height:32px;')
                  label.input-control.checkbox
                    input.item-group(type='checkbox', value='#{i.id}')
                    span.helper(style='padding-left:32px;')= i.what
                    |&nbsp;&nbsp;
                    if i.done
                      small.icon-checkmark(style='font-size:10px; color:green;')
    
          #message.app-bar.fg-color-white(style='z-index:100;')
            .page-region
              .page-region-content
                h2.fg-color-white Delete the selected item(s)?
                button#delete.default Delete
                button#cancel Cancel

          #options.app-bar.fg-color-white(style='z-index:90;')
            .page-region
              .page-region-content
                h2.fg-color-white Options
                button#done.default
                  i.icon-checkmark
                  | Done
                button#undone.default 
                  i.icon-undo
                  | Undone
                button#remove.default
                  i.icon-remove
                  | Delete
                form#itemopt(action='/item/done', method='post')
                  input.item-selected(type='hidden', name='id')          

    script(type='text/javascript', src='/js/index.js')
      